<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul>
        <%= form_tag({:action => "line_labels", :controller => "charts"}, remote: true) do -%>
          Show the last
          <%= number_field_tag('count', 20) %>
          workouts of type
          <%= select_tag(:sport_id, options_for_select([
           ['Aerobics', 23],
           ['Badminton', 24],
           ['Baseball', 25],
           ['Basketball', 26],
           ['Boxing', 27],
           ['Circuit Training', 87],
           ['Climbing', 93],
           ['Climbing stairs', 28],
           ['Cricket', 29],
           ['Cycling, sport', 2],
           ['Cycling, transport', 1],
           ['Dancing', 31],
           ['Elliptical training', 30],
           ['Fencing', 32],
           ['Football, American', 33],
           ['Football, rugby', 34],
           ['Football, soccer', 35],
           ['Fitness walking', 14],
           ['Golfing', 15],
           ['Gymnastics', 49],
           ['Handball', 36],
           ['Hiking', 16],
           ['Hockey', 37],
           ['Indoor cycling', 21],
           ['Kayaking', 9],
           ['Kite surfing', 10],
           ['Martial arts', 48],
           ['Mountain biking', 3],
           ['Orienteering', 17],
           ['Other', 22],
           ['Pilates', 38],
           ['Polo', 39],
           ['Riding', 19],
           ['Roller skiing', 5],
           ['Rowing', 11],
           ['Running', 0],
           ['Sailing', 12],
           ['Scuba diving', 40],
           ['Skateboarding', 89],
           ['Skating', 4],
           ['Skiing, cross country', 6],
           ['Skiing, downhill', 7],
           ['Snowboarding', 8],
           ['Snowshoeing', 91],
           ['Squash', 41],
           ['Step counter', 50],
           ['Surfing', 90],
           ['Swimming', 20],
           ['Table tennis', 42],
           ['Tennis', 43],
           ['Treadmill walking', 94],
           ['Treadmill running', 88],
           ['Volleyball, beach', 44],
           ['Volleyball, indoor', 45],
           ['Walking', 18],
           ['Weight training', 46],
           ['Wheelchair', 92],
           ['Windsurfing', 13],
           ['Yoga', 47]], 18), onchange: "$(this).parent('form').submit();") %>
          <br>
          <%= submit_tag 'show/update chart', remote: true %>
        <% end -%>
      </ul>
    </div>

    <!-- demo charts master view -->
    <div class="span9">

      <section id="line-labels">
      </section>
    </div>
  </div>
</div>